h2 #header {
    font-size: 80px;
}

.blood1 {
    margin: 20px;
    padding: 30px;
    background-color: beige;
}

.blood2 {
    margin: 20px;
    padding: 30px;
    background-color: cornsilk;
}

.blood3 {
    margin: 20px;
    padding: 30px;
    background-color: darkgrey;
}

#btn1 {
    margin: 40px;
    width: 20%;
    height: 70px;
    font-size: 30px;
    background-color: red;

}

#btn2 {
    margin: 40px;
    width: 20%;
    height: 70px;
    font-size: 30px;
    background-color: red;

}

#btn3 {
    margin: 40px;
    width: 20%;
    height: 70px;
    font-size: 30px;
    background-color: red;

}

.image1 {
    width: 20%;

}